<html>
<head></head>
<body>
<h1>{{ question.title }}</h1>
<p>Автор вопроса: {{ author }}</p>
<p>{{ question.text }}</p>
{% if answers %}
    <ul>
    {% for answer in answers %}
        <li>{{ answer.text }} author is: {{ answer.author.username }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No answers.</p>
{% endif %}
<form class = "form-horizontal" method = "post" action = "" >
    {% csrf_token %}
    {{ form.as_table }}
    <div class = "form-actions">
    <button type = "submit" class = "btn btn-primary">Добавить ответ</button>
    </div>
</form>
</body>
</html>